{
  "reddit" : {
    "user_agent" : "",
    "login" : {
      "username" : "",
      "password" : ""
    },
    "apikey" : "",
    "apisecret" : "",
    "detector" : {
      "min_uppercase" : 2,
      "min_mixed_uppercase" : 1,
      "min_mixed_lowercase" : 1,
      "min_num_words_threshold" : 0.4,
      "min_num_words_count" : 6
    }
  },
  "imgur" : {
    "client_id" : ""
  },
  "data" : {
    "font_path" : "",
    "img_path" : ""
  }
}
